/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E3FEF7;
    padding-top: 100px; /* Ajusta el espacio superior para el header */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el tamaño total */
    overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Estilos del header */
header {
    display: flex;
    justify-content: center; /* Centra el contenido del header horizontalmente */
    position: fixed;
    top: 0;
    left: 0; /* Alinea el header al borde izquierdo */
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 20px; /* Ajusta el padding según necesites */
    background-color: transparent; /* Fondo transparente */
    box-shadow: none; /* Elimina la sombra */
    z-index: 1000; /* Asegura que el header esté por encima de otros contenidos */
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenido del header */
    margin: 0 auto; /* Centra el contenido dentro del header */
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según necesites */
    height: auto;
}

h1 {
    margin: 0;
    color: #003C43;
    font-size: 24px; /* Ajusta el tamaño del título según necesites */
}

/* Estilos del contenido principal */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin-top: 100px; /* Ajusta el espacio debajo del header para que no se solape */
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    
    border-radius: 10px;
   
}
.right-section {

    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
    gap: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #135D66;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.encrypt-btn {
    background-color: #135D66;
}

.encrypt-btn:hover {
    background-color: #003C43;
    transform: scale(1.05);
}

.decrypt-btn {
    background-color: #77B0AA;
}

.decrypt-btn:hover {
    background-color: #135D66;
    transform: scale(1.05);
}

.clear-btn {
    background-color: #fcb4b4;
    color: #003C43;
}

.clear-btn:hover {
    background-color: #d16060;
    color: #fff;
    transform: scale(1.05);
}

/* Estilos para el botón de copiar texto */
.copy-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #77B0AA;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.copy-button:hover {
    background-color: #135D66;
    transform: scale(1.05);
}

/* Diseño responsivo */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-section,
    .right-section {
        flex: 1;
        margin: 0 10px;
        height: 520px;
        margin-bottom: 80px;
    }

    .left-section {
        gap: 20px;
        align-items: flex-start; /* Ajuste de alineación */
    }

    textarea {
        flex: 1;
        height: auto;
    }
}

/* Diseño para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    .container {
        align-items: flex-start;
    }

    /* El primer textarea ocupa más espacio */
    .left-section textarea {
        flex: 2;
        height: 300px;
    }

    /* El segundo textarea es más pequeño */
    .right-section textarea {
        height: 300px;
    }
}
